.sidebar-main{
    width:13vw;
    max-width: 18vw;
    height:auto;
    overflow: hidden;
    position:fixed;
    border: none;
    border-radius: 40px;
    color:whitesmoke ;
    background-color:rgb(4, 5, 71);
    top:10px;
    left:10px;
    bottom:10px;
    z-index:10000;
}

.sidebar-main:hover{
    background-color: rgb(13, 14, 83);
    box-shadow: -3px 0px 4px rgb(42, 2, 242);
    border:0.5px solid darkblue;
    transition: 0.5s ease;
}

.sidebar-content{
    padding-top:70%;
}

nav ul li{
    list-style-type:none;
    margin-bottom:20px;
    border-bottom: 0.01px solid rgb(4, 4, 136);
    padding:5px 0px;
}
nav ul li:hover{
    border-bottom: 3.5px outset rgb(3, 3, 222);
}

nav ul li a{
    text-decoration: none;
    font-size: 1.19em;
    font-family:sans-serif;
    font-weight: bolder;
    color:rgb(90, 90, 243);
}
nav ul li a:hover{
    color:rgb(192, 192, 239);
    text-shadow: -3px 3px 3px rgb(14, 17, 180);
}
nav ul li a:active{
    color:rgb(10, 153, 192);
}

.external-links{
    height:10%;
    width:80%;
    position:absolute;
    bottom:0%;
    margin:7%;
    display: flex;
    flex-direction: row;
    padding-left:11%;
}
a{
    text-decoration: none;
}
.external-logo{
    height:30px;
    width:30px;
    padding:15px;
    
}




/* media queries */
/* smartphone */
@media all and (max-width:460px){
    .sidebar-main{
        width:45vw;
        max-width: 45vw;
    }
}
/* tablet */
@media all and (min-width:460px) and (max-width:810px){
    .sidebar-main{
        width:30vw;
        max-width: 30vw;
    }
}
