/* main div of certs */
.certs-main-div{
    width:70%;
    height:82%;
    padding:2% 5% 2% 5%;
    top:5%;
    left:13%;
    color:rgb(255, 255, 255);
    flex-direction: row;
    align-items: center;

    border-radius:5%;
    position: fixed;
    background-color: inherit;
    box-shadow: -2px 2px 1.5cap rgb(5, 30, 142);
    display:flex;
    overflow:scroll;
    flex-grow: 0;
    flex-shrink: 0;
    flex-direction: row;
}
.certs-main-div::-webkit-scrollbar {
    width: 1px;
    border-radius:50%;
}

.certs-main-div::-webkit-scrollbar-thumb {
    background-color: #1160b4;
    border-radius: 100%;
    width: 80%;
}
.certs-main-div::-webkit-scrollbar-thumb {
    cursor: pointer;
}

.certs-main-div::-webkit-scrollbar-track {
    background: #010005;
    border-radius: 100%;
}
.certs-main-div::-webkit-scrollbar-corner{
    color:#010005
}

/* card component */
.certs-card{
    margin-top: 1.5%;
    margin-left:2.8%;
    background-color: rgb(6, 36, 95);
    height: 77%;
    max-height: 75%;
    width: 30%;
    max-width: 40%x;
    border-radius: 25px;
    text-align: center;
    transition: transform 0.4s;
    position:relative;
    overflow:auto;
    flex-grow: 0;
    flex-shrink: 0;
    z-index: -1;
  }
  
  .certs-card:hover{
      border: 0.1px solid rgb(156, 193, 209);
      background-color: rgb(6, 23, 61);
      transform: scale(1.3,1.3);
      box-shadow: -2px 2px 1.5cap rgb(9, 43, 193);
      z-index:400;
  }

  .certs-card .certs-bgpic-section{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    height:40%;
    width:100%;
    filter: brightness(54%) sepia(30%) hue-rotate(180deg) saturate(1.5);

  }

  .certs-card .certs-details-section{
    font-size:1em;
    font-weight: bold;
    font-family:monospace;
    color:rgb(13, 159, 221);
    margin:auto;
    position:relative;
    height:fit-content;
    width:80%;
    padding:2%;
    overflow: hidden;
  }

.certs-card .certs-details-section ul li{
    margin-bottom: 15px;
}

.certs-index{
    border:2px solid hsl(229, 54%, 39%);
    background-color: hsl(229, 54%, 39%);
    border-radius:50%;
    color:#000000;
    font-size: 3.1em;
    font-weight: bolder;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    height:13%;
    width:19%;
    left:4%;
    bottom:3%;
    z-index:200;
    box-shadow: -0.2px 0.2px 0.3cap rgb(16, 225, 225);
    position:absolute;
  }

  .certs-doc-button{
    border:1px solid hsl(225, 65%, 80%);
    background-color: hsl(209, 51%, 30%);
    border-radius:10%;
    color:#070746;
    font-size: 1em;
    font-weight: bolder;
    font-family: monospace;
    height:7%;
    width:20%;
    right:9%;
    bottom:5%;
    z-index:100;
    position:absolute;
  }
  .certs-doc-button:hover{
    background-color: hsl(201, 84%, 60%);
    cursor:pointer;
  }

/* heading of the page */
.certs-heading-banner {
    left: 6vw;
    top: 50vh; /* Start far above the visible screen */
    width: 2%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    animation: certsdropBanner 2s ease-out forwards; /* Smooth drop animation */
}

@keyframes certsdropBanner {
    0% {
        top: 0vh; /* Start far above */
        opacity: 0; /* Invisible at the start */
    }
    50%{
        top:35vh;
        opacity: 0.5;
    }
    100% {
        top: 25vh; /* Final position */
        opacity: 1; /* Fully visible */
    }
}

.certs-heading-text{
    margin-top:-10px;
    color:rgb(17, 254, 230);
    font-size:2.7em;
    font-weight:bolder;
    font-family: monospace;
    text-shadow:-2px 2px 2px rgb(1, 153, 255);
}


/* media queries */
@media all and (max-width:460px){
    .certs-main-div{
        left:18%;
        top:3%;
        padding:2% 2% 2% 2%;
        width:73%;
        min-height: 89%;
        flex-direction: column;
    }
    .certs-card {
        margin-top: 3.5%;
        margin-left: 0.5%;
        height: 65%;
        max-height: 75%;
        width: 95%;
        border-radius: 25px;
        overflow: hidden;
    }
    
    .certs-card:hover {
        width: 80%;
        height: 60%;
        transform: translate(-50%, -50%) scale(1, 1); /* Scale and center */
        position: fixed; /* Fixed positioning to center it on the viewport */
        top: 50%;
        left: 48%;
        z-index: 2000; /* Bring to the top */
    }

    @keyframes certsdropBanner {
        0% {
            top: 0vh; /* Start far above */
            opacity: 0; /* Invisible at the start */
        }
        50%{
            top:42vh;
            opacity: 0.5;
        }
        100% {
            top: 28vh; /* Final position */
            opacity: 1; /* Fully visible */
        }
    }
    .certs-index{
        background-color: hsl(256, 30%, 30%);
        height:12%;
        width:20%;
        left:4%;
        bottom:3%;
      }

    
}

@media all and (min-width:460px) and (max-width:830px){
    .certs-main-div{
        left:18%;
        top:3%;
        padding:2% 2% 2% 2%;
        width:73%;
        min-height: 87%;
        flex-direction: column;
    }

    .certs-card {
        margin-top: 3.5%;
        margin-left: 1.5%;
        height: 65%;
        max-height: 75%;
        width: 90%;
        border-radius: 25px;
    }
    .certs-card:hover {
        width: 85%;
        height: 75%;
        transform: translate(-50%, -50%) scale(1, 1);
        position: fixed;
        top: 50%;
        left: 49%;
        z-index: 2000;
    }
    @keyframes certsdropBanner {
        0% {
            top: 0vh; /* Start far above */
            opacity: 0; /* Invisible at the start */
        }
        50%{
            top:45vh;
            opacity: 0.5;
        }
        100% {
            top: 28vh; /* Final position */
            opacity: 1; /* Fully visible */
        }
    }
    .certs-heading-text{
        font-size:3.5em;
    }
    
}