.Card{
    margin-top: 2.5%;
    margin-left:1.5%;
    background-color: rgb(8, 8, 73);
    height: 75%;
    max-height: 75%;
    width: 30%;
    max-width: 40%x;
    border-radius: 25px;
    
    padding: 10px;
    text-align: center;
    transition: transform 0.4s;
    position:relative;
    overflow:auto;
    display:flex;
    flex-grow: 0;
    flex-shrink: 0;
  }
  

  
  .Card:hover{
      border: 0.1px solid rgb(156, 193, 209);
      background-color: rgb(6, 23, 61);
      transform: scale(1.2,1.2);
      box-shadow: -2px 2px 1.5cap rgb(9, 43, 193);
      z-index:100;
  }