.profilepic-pic {
    border: 10px solid transparent;
    border-radius: 50%;
    height: 350px;
    width: 350px;
    background: linear-gradient(45deg, rgb(1, 1, 14), rgb(30, 135, 248),rgb(2, 2, 29), rgb(24, 247, 195),  rgb(3, 6, 22));
    background-size: 300% 300%;
    animation: animateBorder 8s infinite linear;
    transition: transform 1s ease-in-out;
    z-index: 10;
  }
  
  @keyframes animateBorder {
    0% {
      background-position: 0% 50%;
    }
    50% {
      background-position: 100% 50%;
    }
    100% {
      background-position: 0% 50%;
    }
  }

.profilepic-pic:hover{
    transform:scale(1.15,1.15);
}
.profilepic_main{
    margin-top: 16vh;
    margin-right:18vw;
    margin-left: auto;
    height: auto;
    width: fit-content;
}

/* media queries */
/* smartphone */
@media all and (max-width:460px){
  .profilepic-pic {
    border: 7px solid transparent;
    height: 200px;
    width: 200px;
    margin-right:7vw;
  }
  .profilepic_main{
    margin-top: 23vh;
    align-items: center;
}
}
/* tablets */
@media all and (min-width:460px) and (max-width:810px){
  .profilepic-pic {
    border: 8.5px solid transparent;
    height: 300px;
    width: 300px;
    margin-top: 9vh;
    margin-right:11vw;
  }
}