.about-page{
    display: flex;
    flex-direction: row;
    position: relative;
    height: fit-content;
    min-height: 100vh;
    margin-left: 9%;
}

.about-content-holder{
    height:99vh;
    width:calc(100vw - 28%);
    position: relative;
    display:flex;
    flex-direction: column;
}

.about-content-holder .about-me-header{
    height:10%;
    width:fit-content;
    min-width:15%;
    margin:10% 0% 4% 36%;
    display: flex;
    flex-direction: row;
}

.about-content-holder .about-me-header .about-first-word{
    position: relative;
    height:100%;
    background-color: rgb(19, 43, 140);
    color:lightblue;
    padding:0px 8px 0px 5px;
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}
.about-content-holder .about-me-header .about-second-word{
    position:relative;
    background-color: lightblue;
    color:rgb(4, 4, 65);
    padding:0px 5px 0px 5px;
    font-size: 3em;
    font-weight: bolder;
    font-family: 'Times New Roman', Times, serif;
}

.about-content-holder .about-content-text{
    min-height:25%;
    height: fit-content;
    width:70%;
    margin:auto;
    font-size: 1.3em;
    font-family: monospace;
    font-weight: bold;
    padding:2%;
    text-align: center;
    color: rgb(38, 148, 179);
    padding:5%;
    border-radius: 5%;
    box-shadow: -2px 2px 2cap rgb(9, 43, 193);
}

.about-content-holder .about-mail-copy{
    margin-top:auto;
    position: relative;
    height:15%;
    display: flex;
    justify-content: center;
    align-items: center;
    color:lightblue;
    display:flex;
    flex-direction: row;
}

.about-content-holder .about-mail-copy .mail-title{
    font-size: 1.3em;
    font-family:cursive;
    font-weight: bold;
    color:rgb(133, 48, 186);
    left:0px;
}

.about-content-holder .about-mail-copy .mail-id {
    font-size: 1em;
    font-family: monospace;
    background-color: lightblue;
    color: rgb(1, 1, 33);
    margin: 1% 0.5% 1% 3%;
    border: 1px solid orange;
    border-radius: 3%; 
    width: fit-content;
    padding: 1%;
}

.about-content-holder .about-mail-copy .copy-button{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height:40px;
    width:40px;
    cursor: pointer;
    background-color: inherit;
    border:none;
}

.about-image-holder{
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left:auto;
    width:28%;
    height:99.5vh;
    background-color: inherit;
    border:1px solid rgb(9, 9, 112);
    position: relative;
}


/* media queries */
/* smartphone */

@media all and (max-width:460px){
    .about-page{
        display: flex;
        flex-direction: column;
        position: relative;
        height: fit-content;
        overflow:auto;
        /* min-height: 100vh; */
    }
    /* image holder */
    .about-image-holder{
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        margin-top:auto;
        width:100vw;
        height:80vh;
        background-color: inherit;
        border:1px solid rgb(9, 9, 112);
        position: relative;
    }
    .about-content-holder{
        height:99vh;
        width:100vw;
        position: relative;
        display:flex;
        flex-direction: column;
        margin-bottom:auto;
    }
    
}