.edu-main-div{
    width:75%;
    height:82%;
    padding:2% 3% 2% 3%;
    top:5%;
    left:13%;
    color:white;

    border-radius:5%;
    position: fixed;
    background-color: inherit;
    box-shadow: -2px 2px 1.5cap rgb(5, 30, 142);
    display:flex;
    flex-direction: column;
    overflow:auto;
    flex-grow: 0;
    flex-shrink: 0;
}
.edu-main-div::after {
    content: "";
    width: 2px;
    height: calc(189%); /* add px to span the entire vertical length to contain newly added item */
    background-color: rgb(203, 228, 235);
    position: absolute;
    top: 0%;
    left: 27%;
    z-index: -1;
}

.edu-main-div::-webkit-scrollbar {
    width: 1px;
    border-radius:50%;
}

.edu-main-div::-webkit-scrollbar-thumb {
    background-color: #1160b4;
    border-radius: 100%;
    width: 80%;
}
.edu-main-div::-webkit-scrollbar-thumb {
    cursor: pointer;
}

.edu-main-div::-webkit-scrollbar-track {
    background: #010005;
    border-radius: 100%;
}
.edu-main-div::-webkit-scrollbar-corner{
    color:#010005
}

.edu-main-div b{
    font-weight: bolder;
    color:rgb(24, 178, 163);
    font-family: monospace;
    font-size: 1em;
}

.edu-main-div p{
    margin:5%;
    font-weight: bolder;
    font-family: monospace;
    font-size: 1em;
    color:rgb(77, 183, 199);
}
.edu-main-div i{
    font-weight: bold;
    font-size: 1em;
    color:rgb(17, 130, 152);
}

.heading-banner {
    left: 6vw;
    top: 50vh; /* Start far above the visible screen */
    width: 2%;
    height: fit-content;
    position: relative;
    display: flex;
    flex-direction: column;
    flex-grow: 0;
    flex-shrink: 0;
    animation: dropBanner 2s ease-out forwards; /* Smooth drop animation */
}

@keyframes dropBanner {
    0% {
        top: 0vh; /* Start far above */
        opacity: 0; /* Invisible at the start */
    }
    50%{
        top:35vh;
        opacity: 0.5;
    }
    100% {
        top: 25vh; /* Final position */
        opacity: 1; /* Fully visible */
    }
}

.heading-text{
    margin-top:-10px;
    color:rgb(17, 254, 230);
    font-size:3em;
    font-weight:bolder;
    font-family: monospace;
    text-shadow:-2px 2px 2px rgb(1, 153, 255);
}

/* for the education content */
.edu-parent-holder{
    position:relative;
    width:45%;
    height:fit-content;
    padding: 4%;
    left:18.5%;
    margin:10px;
}
.edu-content-holder{
    background-color: rgb(6, 6, 112);
    border-radius:10px;
    display: flex;
    width:100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    padding:3%;
    border:2px solid rgb(9, 129, 165);
    box-shadow: -1px 1px 1cap rgb(110, 110, 187);
    margin-left:15%;
}
.edu-content-holder::before {
    content: "";
    position: absolute;
    top: 50%;
    left: -20px; /* adjust to your liking */
    transform: translateY(-50%);
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-right: 20px solid rgb(9, 129, 165); /* match the color */
    z-index: 1;
  }

.edu-logo-holder{
    background-image: url('../assets/icons/goal.png');
    background-repeat: no-repeat;
    position:absolute;
    border-radius: 50%;
    background-position: center; /* add this to center the logo */
    background-size: 100% 100%; /* change this to scale the logo */
    top:40%;
    height: 20%;
    width: 9%;
    z-index:100;

}



/* media queries */
/* smartphone */
@media all and (max-width:460px){
    .edu-main-div{
        left:18%;
        top:3%;
        padding:2% 2% 2% 2%;
        width:73%;
        min-height: 89%;
        flex-direction: column;
    }

    .edu-main-div::after {
        height: calc(130%); /* add px to span the entire vertical length to contain newly added item */
        left: 10%;
    }

    .edu-parent-holder{
        width:73%;
        padding: 7% 4%;
        left:-4%;
    }

    .edu-content-holder{
        width:100%;
        padding:3%;
        margin-left:24%;
    }

    .edu-logo-holder{
        top:40%;
        height: 18%;
        width: 14%;
        z-index:100;
    
    }
}


/* tablets */
@media all and (min-width:460px) and (max-width:830px){
    .edu-main-div{
        left:18%;
        top:3%;
        padding:2% 2% 2% 2%;
        width:73%;
        min-height: 87%;
        flex-direction: column;
    }
    .edu-main-div::after {
        height: calc(130%); /* add px to span the entire vertical length to contain newly added item */
        left: 10%;
    }

    .edu-parent-holder{
        width:73%;
        padding: 7% 4%;
        left:-4%;
    }

    .edu-content-holder{
        width:100%;
        padding:3%;
        margin-left:23%;
    }

    .edu-logo-holder{
        top:38%;
        height: 25%;
        width: 14%;
        z-index:100;
    
    }
}