.App {
  height: 100vh;
  width: 100vw;
  position:fixed;
  animation: home 10s infinite ease-in-out; /* Slower transition with smooth easing */
  background: linear-gradient(to right, rgb(1, 2, 14), rgb(5, 5, 48), rgb(1, 3, 14));
  background-size: 900% 100%; /* Allows the gradient to move */
  border:1.5px solid rgb(40, 40, 251);
  padding:1px;
  box-sizing: border-box;
  display:flex;
  flex-direction: column;
}
.App:hover{
  cursor:crosshair;
}

@keyframes home {
  0% {
    background-position: 0% 0%; /* Start gradient at the left */
  }
  15% {
    background-position: 15% 0%; /* Gradually move to the right */
  }
  25% {
    background-position: 25% 0%; /* Move further right */
  }
  35% {
    background-position: 35% 0%; /* Continue moving to the right */
  }
  50% {
    background-position: 50% 0%; /* Center of the gradient */
  }
  75% {
    background-position: 75% 0%; /* Move further to the right */
  }
  100% {
    background-position: 100% 0%; /* End gradient fully to the right */
  }
}

.button-app-left{
  width:30px;
  height:30px;
  margin-bottom:auto;
  position:absolute;
  z-index:20000;
  margin-top:8vh;
  margin-left:6vw;
  border:none;
  border-radius: 5px;
  background-color: none;
}

.button-app-left:hover{
  cursor:pointer;
}